<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BudgetBuddy - Home</title>
  <link href="/css/output.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>   
</head>
<body class="bg-background text-text font-primary">
  <header class="bg-primary text-white p-4" style="background-image: url('/images/Header.png');">
    <div class="container mx-auto flex justify-between items-center">  
      <div class="flex items-center">
        <a href="/"><img src="/images/fullLogo.png" alt="BudgetBuddy Logo" class="h-1 w-auto" height="222" width="464"></a>
      </div>
      <nav>
        <a href="/onboarding" class="mr-4">Onboarding</a>
        <a href="/budget" class="mr-4">Budget</a>
        <a href="/progress" class="mr-4">Progress</a>
        <a href="/reports" class="mr-4">Reports</a>
        <a href="/tips">Tips</a>
        <a href="/reminders" class="mr-4">Reminders</a>
        <a href="/about">About</a>
      </nav>
    </div>
  </header>
  <main class="min-h-screen flex items-center justify-center">
  <div class="text-center max-w-4xl mx-auto px-4">
    <h1 class="text-4xl font-heading text-primary mb-4">The Personalized Budget Buddy <br> for University Students</h1>
    <p class="text-xl mb-8">Managing money as a student can be tough with tuition, part-time jobs, and social expenses. Let BudgetBuddy create a personalized budget to help you save for the future, pay off loans, and enjoy student life without financial stress.</p>
    <div class="mb-8">
      <h2 class="text-2xl font-heading mb-4">How it works</h2>
      <div class="flex justify-center space-x-8">
        <div class="text-center">
          <img src="/images/steps.png" alt="How it works" width="748" height="200">
        </div>
      </div>
    </div>
    <a href="/onboarding"><img src="/images/createBudget.png" alt="Create Budget" class="mx-auto" width="412" height="74"></a>
  </div>
</main>
  <footer class="bg-primary text-white p-4 mt-8">
    <div class="container mx-auto text-center">
      <p>&copy; 2026 BudgetBuddy. All rights reserved.</p>
    </div>
  </footer>
  <script>
    lucide.createIcons();
  </script>
</body>
</html>