<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BudgetBuddy - <%= title %></title>
  <link href="/css/output.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
</head>
<body class="bg-background text-text font-primary">
  <header class="bg-primary text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center">
        <a href="/"><img src="/images/fullLogo.png" alt="BudgetBuddy Logo" class="h-1 w-auto" height="222" width="464"></a>
      </div>
      <nav>
        <a href="/onboarding" class="mr-4">Onboarding</a>
        <a href="/budget" class="mr-4">Budget</a>
        <a href="/progress" class="mr-4">Progress</a>
        <a href="/about">About</a>
      </nav>
    </div>
  </header>
  <main class="container mx-auto p-4">
    <%- body %>
  </main>
  <footer class="bg-primary text-white p-4 mt-8">
    <div class="container mx-auto text-center">
      <p>&copy; 2026 BudgetBuddy. All rights reserved.</p>
    </div>
  </footer>
  <script>
    lucide.createIcons();
  </script>
</body>
</html>