<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BudgetBuddy - <%= title %></title>
  <link href="/css/output.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
</head>
<body class="bg-background text-text font-primary">
  <header class="bg-primary text-white p-4" style="background-image: url('/images/Header.png'); background-size: cover; background-position: center;">
    <div class="container mx-auto flex items-center gap-10">  
      <div class="flex items-center">
        <a href="/"><img src="/images/fullLogo.png" alt="BudgetBuddy Logo" class="h-1 w-auto" height="222" width="464"></a>
      </div>
        <div class="flex items-center">
        <nav>
          <a href="/onboarding" class="mr-4"><img src="/images/onboarding.png" alt="Onboarding" width = "210" height="44"></a>
          <a href="/budget" class="mr-4"><img src="/images/budget.png" alt="Budget" width = "210" height="44"></a>
          <a href="/progress" class="mr-4"><img src="/images/progress.png" alt="Progress" width = "210" height="44"></a>
          <a href="/reports" class="mr-4"><img src="/images/reports.png" alt="Reports" width = "210" height="44"></a>
          <a href="/tips" class="mr-4"><img src="/images/tips.png" alt="Tips" width = "210" height="44"></a>
          <a href="/reminders" class="mr-4"><img src="/images/reminders.png" alt="Reminders" width = "210" height="44"></a>
          <a href="/about" class = "mr-4"><img src="/images/about.png" alt="About" width = "210" height="44"></a>
        </nav>
      </div>
    </div>
  </header>
  <main class="container mx-auto p-4">
    <%- body %>
  </main>
  <footer class="bg-primary text-white p-4 mt-8">
    <div class="container mx-auto text-center">
      <p>&copy; 2026 BudgetBuddy. All rights reserved.</p>
    </div>
  </footer>
  <script>
    lucide.createIcons();
  </script>
</body>
</html>